<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- 데이터소스설정 : DriverManagerDataSource 클래스 이용 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="oracle.jdbc.OracleDriver"
		p:url="jdbc:oracle:thin:@localhost:1521:XE">
		<property name="username" value="beeradmin" />
		<property name="password" value="1234" />
	</bean>

	<bean id="member" class="com.beer.dao.member.MemberDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="list" class="com.beer.dao.list.ListDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="storage" class="com.beer.dao.storage.StorageDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="guestbook" class="com.beer.dao.guestbook.GuestbookDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="review" class="com.beer.dao.review.ReviewDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>
